.CharacterCard {
  position: relative;

  &__thumb {
    max-width: 100%;
    padding-top: 100%;
    background-size: cover;
  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
  }
}
