.FilterList {
	margin: -2px;
	padding: 0;
	list-style: none;
	text-align: justify;
  text-justify: inter-word;

	&__item {
		display: inline-block;
		margin: 2px;
	}

	&__link {
		padding: 5px;
		border-radius: 2px;
		border: 1px solid #999;
		text-decoration: none;
		text-align: center;

		&.is-active {
			background-color: #e7e7e7;
		}
	}
}
