.PageHeader {
  $header-bgcolor: #f11e22;
  $header-color: #ffffff;
  $header-focus: #e9a115;
  $header-height: 50px;
  $font-size: 1rem;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $header-bgcolor;
  color: $header-color;
  text-align: center;
  z-index: 51;

  @at-root {
    body {
      padding-top: $header-height;
    }
  }

  > .inner {
    position: relative;
  }

  &__logo {
    text-align: center;
    line-height: $header-height;
    color: $header-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__menu {
    position: absolute;
    top: 8px;
    left: 20px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: $header-color;
    cursor: pointer;

    @media (min-width: 640px) {
      opacity: 0;
      visibility: hidden;
    }

    &:focus {
      outline: 3px solid $header-focus;
    }
  }
}
